:root {
--yellow:#FFA500 !important;
--green:#27616E !important;
--blue: #27616E !important;
--light-blue:#e9eefd;
--dark-blue: #3364FF;
--primary-blue:#3364FF;
--text-color:#222;
--light-dark:#919191;
--white:#fff;
--light-grey:#ddd;
--light-bg: #f6f8fa;
--dark: #111;
--resume-text:#777;
--resume-heading:#222;
--heading-resume:#222;
--resume-bg: #f5f5f5;
/* resume color */
--success-steel:#0e1012;
--essential-ecru:#db7c11;
--clever-blue:#0f355d;
--quality-azure:#0187de;
--delight-mint:#53b9a4;
--standout-ruby:#690107;
--savvy-salmon:#fe7a66;
--optimistic-amber:#27616E !important;
--root-color:#808d97;
--light-grey:#d4d6d7;

}